:root {
  color-scheme: light;

  --neutral-1: #fcfcfd;
  --neutral-2: #f9f9fb;
  --neutral-3: #f5f6f9;
  --neutral-4: #eff1f5;
  --neutral-5: #eceef3;
  --neutral-6: #e6e9ef;
  --neutral-7: #abb7cb;
  --neutral-8: #75859e;
  --neutral-9: #4d586a;
  --neutral-10: #262c37;
  --neutral-11: #161a21;

  --accent-1: #edf4ff;
  --accent-2: #d6e7ff;
  --accent-3: #add2ff;
  --accent-4: #76bbff;
  --accent-5: #00a5fc;
  --accent-6: #008fdb;
  --accent-7: #0070ad;
  --accent-8: #005484;
  --accent-9: #003a5d;
  --accent-10: #001f35;
  --accent-11: #001526;

  --surface: var(--neutral-1);
  --surface-muted: var(--neutral-2);
  --surface-raised: #ffffff;
  --border: var(--neutral-4);
  --border-strong: var(--neutral-5);
  --text: var(--neutral-11);
  --text-muted: var(--neutral-8);
  --text-subtle: var(--neutral-7);
  --link: var(--accent-8);
  --link-decoration: var(--accent-5);
  --selection-bg: var(--accent-11);
  --selection-text: var(--neutral-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --neutral-11: #e4e5ec;
    --neutral-10: #cdcedb;
    --neutral-9: #999cb8;
    --neutral-8: #6b7096;
    --neutral-7: #414562;
    --neutral-6: #1e2030;
    --neutral-5: #191b29;
    --neutral-4: #151723;
    --neutral-3: #0f101b;
    --neutral-2: #090a13;
    --neutral-1: #030307;

    --accent-11: #edf4ff;
    --accent-10: #d6e7ff;
    --accent-9: #add2ff;
    --accent-8: #76bbff;
    --accent-7: #00a5fc;
    --accent-6: #008fdb;
    --accent-5: #0070ad;
    --accent-4: #005484;
    --accent-3: #003a5d;
    --accent-2: #001f35;
    --accent-1: #001526;

    --surface: var(--neutral-1);
    --surface-muted: var(--neutral-2);
    --surface-raised: var(--neutral-2);
    --border: var(--neutral-4);
    --border-strong: var(--neutral-5);
    --text: var(--neutral-11);
    --text-muted: var(--neutral-9);
    --text-subtle: var(--neutral-8);
    --link: var(--accent-10);
    --link-decoration: var(--accent-8);
  }
}
