---
type IconName =
  | "linkedin"
  | "user"
  | "contact"
  | "check"
  | "briefcase"
  | "academic"
  | "paint"
  | "link"
  | "github"
  | "sun"
  | "moon"
  | "ext-link";

type Props = { name: IconName; label?: string; class?: string; [attribute: string]: unknown };

const { name, label, class: className = "", ...attributes } = Astro.props;

const icons: Record<IconName, string> = {
  user: "i-ri-user-fill",
  contact: "i-ri-contacts-book-2-fill",
  check: "i-ri-check-fill",
  briefcase: "i-ri-briefcase-4-fill",
  academic: "i-ri-graduation-cap-fill",
  paint: "i-ri-palette-fill",
  link: "i-ri-link",
  github: "i-ri-github-fill",
  sun: "i-ri-sun-fill",
  moon: "i-ri-moon-fill",
  linkedin: "i-ri-linkedin-fill",
  "ext-link": "i-ri-external-link-line",
};
---

<span
  class:list={["inline-icon", icons[name], className]}
  aria-hidden={label ? undefined : "true"}
  aria-label={label}
  role={label ? "img" : undefined}
  {...attributes}></span>
